*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*para que baje al logging suavemente*/
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:var(--secondColor);

}

/*cabecera*/
header{
    background: var(--mainColor);
    color: var(--fontMainColor);
    height: 5rem;
    width: 100%;

    position: fixed; /*ahora todos sus elementos internos dependen posicionalmente de el*/
    top: 0;
    font-size: 1.5rem;
    z-index: 1000;
}
header *{
    display: inline-block;/*ponemos todo uno al lado del otro*/
}
header img{
    height: 80%;
    margin: 0.5rem 1.5rem;
}
header img+p{
    position: absolute;
}
header button{
    position: absolute;
    top: 1rem;
    left: 16rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 16px;
    background: var(--detailsColor);
    color: white;
    font-weight:600;
    cursor: pointer;
}
header button:hover{
    background:purple;
    scale: 1.1;
    transition: all 0.1s ease;
}
header ul{
    position: absolute;
    right: 0;
    margin: 0.5rem 1rem;
}
li{
    list-style: none; /*le quitamos los punticos a la lista*/
    margin: 1rem;
}
header li:hover{
    transition: all 0.1s ease;
    border-bottom: 4px solid var(--detailsColor);
}
a{
    text-decoration: none; /*le quitamos el subrayado*/
    color: var(--fontMainColor);
}

/*main*/
main{
    text-align: center;
}
section{
    text-align: center;
    padding: 35vh;
    color: var(--fontMainColor);
}
section p{
    font-size: 3rem;
}
section button{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 16px;
    width: 10rem;
    cursor: pointer;
}
section button:first-of-type{
    color: white;
    background: 2px solid var(--fontMainColor);
    background: rgba(0, 0, 0, 0); /*asi hago un fondo transparente*/
    margin: 0 0.5rem;
}
section button:first-of-type:hover a{
    color: var(--mainColor);
}
section button:last-of-type{
    color: var(--fontMainColor);
    background: var(--detailsColor) ;
    border: 2px solid var(--detailsColor); 
}
section button:last-of-type:hover{
    transition: all 0.1s ease;
    background:purple;
    scale: 1.1;
}
section button:first-of-type:hover{
    transition: all 0.1s ease;
    background:white;
    scale: 1.1;
    color: var(--mainColor);
    border:2px solid var(--mainColor);
}

/*formualario que esta dentro del main*/
form{
    margin: 20px auto;
    margin-bottom:3rem ;
    text-align: center;
    background:var(--thirdColor);
    color: var(--fontMainColor);
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--mainColor);
    padding: 1rem;

    position: relative;
    z-index: 2;
}
i{
    size: 90px;
}
legend{
    font-size:larger;
}
fieldset{
    width: 60%;
    height: 25rem;
    margin: 0 auto;
    border-radius: 16px;
}
fieldset>input{
    display:block;
    background: rgba(0, 0, 0, 0);
    color: var(--fontMainColor);
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    width: 85%;
}
fieldset p,fieldset input[type=range]{
    margin-bottom: -1.5rem;
    position: relative;
    top: -10%;
}
fieldset pre{
    position: relative;
    top: -5%;
    margin-bottom: -0.8rem;
}
input[type=range]{
    width: 90%;
}
.send{
    position: absolute;
    bottom: 10%;
    left: 27%;
}
.send input{
    font-size: 1rem;
    padding:0.2rem 0.5rem;
    border-radius: 16px;
    width: 7rem;
    cursor: pointer;
}
.send input:last-of-type{
    color: white;
    background: 2px solid var(--fontMainColor);
    background: rgba(0, 0, 0, 0); /*asi hago un fondo transparente*/
}
.send input:first-of-type:hover{
    transition: all 0.1s ease;
    background:purple;
    scale: 1.1;
}
.send input:first-of-type{
    color: white;
    background: var(--detailsColor) ;
    border: 2px solid var(--detailsColor); 
}
.send input:last-of-type:hover{
    transition: all 0.1s ease;
    background:var(--fontMainColor);
    scale: 1.1;
    color: var(--mainColor);
    border:2px solid var(--mainColor);
}