/*perfil principal del usuario*/
section{
    background: var(--mainColor);
    padding: 1rem;
    border-radius: 16px;
    overflow-y: hidden;
    margin-right: 2rem;
}
.iconitos i{
    color:var(--detailsColor);
}
.pais,h3{
    margin-top: 1.5rem;
    display: inline;
}
figure img{
    width: 50%;
    border-radius: 16px;
}
section figure{
    float: left;
    margin-right: -7rem;
}
section figcaption{
    margin-left: 1.25rem;
}
section details{
    float: left;
}
section .iconitos div{
    float: left;
    margin: 1rem;
}

/*apartado de reportes*/
.report{
    background: var(--mainColor);
    padding: 1rem;
    border-radius: 16px;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
    width: 35%;
    margin-bottom: 5rem;
    height: 22rem;
}
textarea{
    width: 95%;
}

/*apartado de estadísticas*/
.stats{
    background: var(--mainColor);
    float: left;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 16px;
    width: 60%;
    height: 22rem;
}
.fa-chart-line{
    font-size: 2rem;
    margin: 1rem;
    color: lightseagreen;
    text-shadow:2px 2px 30px aquamarine;
}
.tiempo{
    margin-top:1rem ;
}
.tiempo *{
    display: inline;
    margin: 0.8rem;
    cursor: pointer;
    border-radius: 16px 16px 0 0;
    padding: 0.6rem;
}
.activa{
    padding-bottom: 0.4rem;
    border-bottom: 2px solid var(--detailsColor);
}
.tiempo *:hover{
    background-color: var(--thirdColor);
}
.statPuzzle *,.statGames *{
   margin: 0;
   font-size: 2rem;
}
.GeneralStats{
    column-count: 2;
    text-align: center;
    margin-top: 10%;
}
.GeneralStats i{
    margin-bottom: 1rem;
}
.statGames i{
    color: darkorchid;
    text-shadow:2px 2px 30px mediumslateblue;
}
.statPuzzle i{
    color: orangered;
    text-shadow:2px 2px 30px orange;

}

/*lecciones recomendadas*/
.video{
    text-align: center;
    overflow: visible;
    float: left;
    width: 96.5%;
    padding: 1rem;
    margin-top: -4rem;
    margin-right: 2rem;
    border-radius: 16px;
    background: var(--mainColor);
    margin-bottom: 5rem;
}
.recomendations{
    margin-top: 1rem;
    column-count: 2;
}
.recomendations iframe{
    width: 100%;
    border-radius:16px ;
}

/*animaciones de los botones*/
.report input{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 16px;
    width: 7rem;
    cursor: pointer;
    margin-top: 0.5rem;
}
.report input:last-of-type{
    color: var(--fontMainColor);
    background: 2px solid var(--fontMainColor);
    background: rgba(0, 0, 0, 0); /*asi hago un fondo transparente*/
    margin: 0 0.5rem;
}
.report input:first-of-type{
    color: white;
    background: var(--detailsColor) ;
    border: 2px solid var(--detailsColor); 
}
.report input:first-of-type:hover{
    transition: all 0.1s ease;
    background:purple;
    scale: 1.1;
}
.report input:last-of-type:hover{
    transition: all 0.1s ease;
    background:var(--fontMainColor);
    scale: 1.1;
    color: var(--mainColor);
    border:2px solid var(--mainColor);
}