html{
    scroll-behavior: smooth; /*no quiero que al pulsar el mapa baje de forma erratica*/
}
form{
    margin-bottom:5rem;
}
fieldset{
    border: 2px solid grey;
    border-radius: 16px;
    background:var(--mainColor);
    padding: 2rem;
    margin: 1.2rem 0;
    margin-right: 2rem;
    
    position: relative; /*solo me sirve para la pregunta 7 pero weno me es util*/
}
fieldset:hover{
    transition: all 0.2s ease;
    border:2px solid var(--detailsColor);
}
span{ /*numero de preguntas*/
    color: var(--detailsColor);
    border: 2px solid var(--detailsColor);
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
}

fieldset img{
    display: inline-block;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 16px;
}
fieldset div{
    display: inline-block;
}

fieldset:nth-of-type(7) div{ /*para colocar las posibles respuestas un pelin mejor*/
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
}
/*se refiere al que tiene el tablero con el elemento maparea*/
fieldset:nth-of-type(6){ 
    text-align: center;
}
fieldset:nth-of-type(6) img{
    height: 50%;
}

/*botones de abajo del todo*/
form>input{
    position: relative;
    left: 15%;

    font-size: 1rem;
    padding:1rem;
    border-radius: 16px;
    width: 20rem;
    cursor: pointer;
}
form>input:last-of-type{
    color: var(--fontMainColor);
    background: 2px solid var(--fontMainColor);
    background: rgba(0, 0, 0, 0); /*asi hago un fondo transparente*/
}
form>input:first-of-type:hover{
    transition: all 0.1s ease;
    background:purple;
    scale: 1.1;
    z-index: 1000; /*si no pongo esto a veces el otro boton se superpone al mio*/
}
form>input:first-of-type{
    color: white;
    background: var(--detailsColor) ;
    border: 2px solid var(--detailsColor); 
}
form>input:last-of-type:hover{
    transition: all 0.1s ease;
    background:var(--fontMainColor);
    scale: 1.1;
    color: var(--mainColor);
    z-index: 1000;
    border:2px solid var(--mainColor);
}