*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh; /*asi aunque tengamos poco contenido en nuesta navegacion llega hasta abajo*/

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;

    background:var(--secondColor);
    color: var(--fontMainColor);
}

/*barra lateral(comun en todas las paginas de este proyecto*/
aside{
    background: var(--mainColor);
    
    height: 100%;
    width: 15rem;
    position: fixed; /*para que se quede fijo  como barra lateral en todas las paginas que tiene*/
    top: 0;
}
aside li:first-of-type{
    text-align: center;
    font-size: 2rem; /*aunqeu parezacan imagens son texto por tanto se cambian de tamaño asi*/
}aside li:first-of-type a{
    color: var(--detailsColor);
    margin: 0 auto;
}
aside ul{
    margin: 0;
    padding: 2rem 0;
    
    list-style: none; /*fuera punticos feos de la lista*/

    display: grid; /*puesto unicamente para separar un poco los elementos de nuestra barra de navegacion*/
    gap: 2rem;
}
aside ul a{
    margin-left: 2rem;

    color: var(--fontMainColor);
    text-decoration: none; /*fuera subrayado de nuestra lista*/
}
aside .currentPage i{
    background: var(--detailsColor);
    padding: 0.5rem;
    border-radius: 8px;
    margin-right: -1rem; /*yo puse esto con la intencion de acercar un poco los obejtos porque el padding del objeto activo lo alejaba de su texto pero por algun motivo ayuda a que el texto no se ponga debajo de la imagen al aumentar su padding*/
}
aside li{
    padding: 1rem 2rem;
    margin-left: 1rem;

    border-radius: 100vw 0 0 100vw; /*asi hacemos un borde super chachi guay que solo se ve por ahora a la izquierda*/
}
aside .currentPage{ /*para que solo le afecte a la pagina en la que nos encontramos actualmente*/
    background: var(--secondColor); /*se le damos el mismo color que el fondo parece que se fusionann*/
    position: relative;
}

    /*todo lo del borde interno*/
aside .currentPage::before,
aside .currentPage::after{ /*para los bordes internos*/
    content: '';
    position: absolute;

    width: 1rem;
    height: 1rem;
    right: 0;
}
aside .currentPage::before{ /*el bordeciro de la parte de arriba*/
    top:-23.5%; /*seguro que hay alguna forma de hacerlo matematicamente correcto con propiedades customizadas, pero ta difisil la wea weon*/
    border-radius: 0 0 100vw 0;
    box-shadow: 10px 10px 0 10px var(--secondColor); /*forma tramposilla de hacer el borde interno*/
}
aside .currentPage::after{ /*el bordeciro de la parte de abajo*/
    bottom:-23.5%;
    border-radius: 0 100vw 0 0;
    box-shadow:10px -10px 0 10px var(--secondColor); ;
}
    /*aqui termina el borde interno*/


main{
    margin-left: 18rem;
}